@import "tailwindcss" ; 



/* -------------- Navbar ------------- */

#navbar-btns > button{
    padding-inline: 20px;
    padding-block: 4px;
    color: white;
    background-color: #443DFF;
    margin-inline: 8px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

#navbar-btns > button:hover{
    background-color: #241cff;
}

#navbar-items > ul > li{
    color: #241cff;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}
#profile > #arrow{
    transition: 0.35s ease-in-out;
}
#profile:hover > #arrow{
    transform: rotate(180deg);
}
